<div class="d-flex justify-content-center" style="height: 200px;">
</div>
<div class="d-flex justify-content-center">
<p id=”alert”><%= alert %></p>
<%= form_tag sessions_path do |form| %>
<table>
    <th>Login:</th>
    <tr><td><%= label_tag :Username %></td><td> <%= text_field_tag :username %></td></tr>
    <tr><td><%= label_tag :password %></td><td><%= password_field_tag :password %></td></tr>
</table>
    <%= submit_tag 'Login' %>
<% end %>
</p>
</div>
