<%= form_for @production do |f|%>
  <table>
    <tr><td><%= f.label :name %></td><td><%= f.text_field :name %></td></tr>
    <tr><td></td><td></td></tr>
    <tr><td><%= f.label :address %></td><td><%= f.text_field :address %></td></tr>
    <tr><td></td><td></td></tr>
    <tr><td><%= f.label :phone %></td><td><%= f.text_field :phone %></td></tr>
  </table>
  
  <div id="dynamicInput">
    Client 1 <br>
    <label for="production_clients_attributes_1_first_name">First name</label>
    <input type="text" name="production[clients_attributes][1][first_name]" id="production_clients_attributes_1_first_name" />
    <label for="production_clients_attributes_1_last_name">Last name</label>
    <input type="text" name="production[clients_attributes][1][last_name]" id="production_clients_attributes_1_last_name" />
  </div>
  <br>
  <button id="line">Add Client</button>
  <br>
  <%= f.submit %>
<%end%>
<br>
<%= javascript_pack_tag 'clients_add.js' %>
