<h2>Production: </h2>
<p><%= link_to 'all productions', productions_path %>  | 
<%= link_to 'delete production', production_path(@production), method: 'DELETE'%>
</p>
<b>Production Name: </b> <%= @production.name %>
<br>
<b>Production Address: </b> <%= @production.address %>
<br>
<b>Production Phone: </b>  <%= @production.phone %>
<br>
<p>
<h4>Production Members:</h4>
<ul>
<% @production.clients.each do |client|%>
    <li><%= client.name %> | <%= link_to 'delete', production_client_path(@production, client), method: :delete %>  <%= link_to 'edit', edit_production_client_path(@production, client)%></li>
<%end%>
</ul>
</p>
<%= link_to 'add new clienet (through nested route)', new_production_client_path(@production) %>

<br><br>
<%= button_to 'Edit Production', edit_production_path, method: 'get' %> <br>
