<h1>Production: </h1>
<p><%= link_to 'all productions', productions_path %> </p>
<b>Production Name: </b> <%= @production.name %>
<br>
<b>Production Address: </b> <%= @production.address %>
<br>
<b>Production Phone: </b>  <%= @production.phone %>
<br>
<p>
<h3>Production Members:</h3>
<ul>
<% @production.clients.each do |client|%>
    <li><%= client.name %> | <%= link_to 'delete', production_client_path(@production, client), method: :delete %>  <%= link_to 'edit', edit_production_client_path(@production, client)%></li>
<%end%>
</ul>
</p>
<br><br>
<%= button_to 'edit production', edit_production_path, method: 'get' %>