<%= form_for @client do |f|%>
    <% if params[:production_id]%>
        <%= f.hidden_field :production_id, value: params[:production_id] %>
    <%end%>
    <table>
        <tr><td><%= f.label :first_name %></td><td><%= f.text_field :first_name %></td></tr>
        <tr><td></td><td></td></tr>
        <tr><td><%= f.label :last_name %></td><td><%= f.text_field :last_name %></td></tr>
        <tr><td></td><td></td></tr>
        <tr><td><%= f.label :address %></td><td><%= f.text_field :address %></td></tr>
        <tr><td></td><td></td></tr>
        <tr><td><%= f.label :phone %></td><td><%= f.telephone_field :phone %></td></tr>
        <tr><td></td><td></td></tr>
        <tr><td><%= f.label :email %></td><td><%= f.text_field :email %></td></tr>
        <tr><td></td><td></td></tr>
        <tr><td><%= f.submit%></td><td></td></tr>
    </table>
<%end%>