<h2>Bays:</h2>
<p><%= link_to 'new bay', new_bay_path %> <%= link_to 'my bays', '/bays?flag=1'%> </p>
<div class="d-flex p-2 flex-wrap card-container">
  <% @bays.each do |bay|%>
    <div class="scene scene--card">
      <div class="card">
        <div class="card__face card__face--front">
          <table width="100%"  cellpadding='5'>
            <tr bgcolor="#900">
              <td align='left'>Bay <%= bay.bay_number%></td>
              <td align='right'></td>
            </tr>
            <tr>
              <td valign='top' align="left">Production:</td>
              <td><% if bay.production %><%= bay.production.name %><%end%></td>
            </tr>
            <tr>
              <td align="left">Clients:</td>
              <td></td>
            </tr>
            <tr>
              <td colspan=2 align="left">
                <% if bay.production && bay.production.clients %>
                  <ul>
                    <% bay.production.clients.each do |client|%>
                      <li><%= client.name %></li>
                    <%end%>
                  </ul>
                <%end%>
              </td>
            </tr>
            <tr align='left'>
              <td colspan='2'>Agent:                 
                <% if bay.user %>
                  <%= bay.user.username.capitalize  %>
                <%end%></td>
              </td>
            </tr>
          </table>
          <div class="card_menu_bottom">
            <%= link_to 'edit', edit_bay_path(bay)%>
            <%= link_to 'reset', "/bays/reset/#{bay.id}" %>
          </div>
        </div>
        <div class="card__face card__face--back">chat</div>
      </div>
    </div>
  <%end%>
</div>
<%= javascript_pack_tag 'card_flip.js' %>
